.top-cloud{

  padding-top: 30px;
  position: absolute;
  right: 40px;
}

.top-container{
  background-color: #98B4AA;
  position: relative;
  padding-top: 100px;
}
h1{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: green;
}


h2{
  font-size: 5.625rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: green;
  padding-bottom: 10px;
}
h3{
  font-size: 2.5rem;
  font-family: 'Merriweather', serif;
  color: green;
}
body{
  text-align: center;
  color: #40514E;
}
.intro{
  width: 30%;
  margin: auto;

}
p{
  line-height: 2;
}
.middl-container{
  margin: 100px 0;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.blueberries{
  width: 25%;
  float: left;
  margin-right: 30px;


}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

  line-height: 2;
}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom: 30px;
}
.class{
width: 25%;
float: right;
margin-left: 30px
}
.start{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: green;


}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding-top: 60px;
}
.david{
  width: 10%;
  margin-top: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11992);
  background-image: -moz-linear-gradient(top, #11cdd4, #11992);
  background-image: -ms-linear-gradient(top, #11cdd4, #11992);
  background-image: -o-linear-gradient(top, #11cdd4, #11992);
  background-image: linear-gradient(to bottom, #11cdd4, #11992);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
